template(name="info")
  .ui.text.container.segment
    +markdown
      # heftzweck
      This web-app is a challenge for [freeCodeCamp](http://www.freeCodeCamp.com). Please read the [assignment](https://www.freecodecamp.com/challenges/get-set-for-our-back-end-development-projects) and check out the sources [on github](https://github.com/JanMP/heftzweck).
